body {
	color: black;
	background-color: #255255255;
	font-family: Arial, sans-serif;
	font-weight: normal;
}
#slogan {
	color: black;
font-family: helvetica, sans-serif;
font-weight: bold;
font-size: 24px;
}
#subhead {
	color:black;
	font-family: helvetica,sans-serif;
	font-weight: bold;
}